<html lang="en">
<body>
{% include "header.html" %}
<div class="container">
    <div class="card  col-md-offset-6 col-md-7">
        <h2 style="text-align: right">افزودن کد تخفیف</h2>
        <form role="form" action="/admin-panel/add_code" id="adding_code" method="post" name="adding_code_form">
            <div class="form-group" style="text-align: right">
                <label for="code_char">کد تخفیف</label>
                <input style="text-align: right" type="text" class="form-control" id="code_char"
                       name="code_char" placeholder="">
            </div>
            <button style="margin-left: 90% ; width: 10% ; font-size: medium" type="submit"
                    class="btn btn-primary btn-round">تایید
            </button>
        </form>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>

