{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        EasyBot
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The styles -->
    <link id="bs-css" href="{% static 'adminpanel/css/bootstrap-cerulean.min.css' %}" rel="stylesheet">

    <link href="{% static 'adminpanel/css/charisma-app.css' %}" rel="stylesheet">
    <link href="{% static 'adminpanel/bower_components/fullcalendar/dist/fullcalendar.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/bower_components/fullcalendar/dist/fullcalendar.print.css' %}" rel='stylesheet' media='print'>
    <link href="{% static 'adminpanel/bower_components/chosen/chosen.min.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/bower_components/colorbox/example3/colorbox.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/bower_components/responsive-tables/responsive-tables.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/jquery.noty.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/noty_theme_default.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/elfinder.min.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/elfinder.theme.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/jquery.iphone.toggle.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/uploadify.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/animate.min.css' %}" rel="stylesheet" >

    <!-- jQuery -->
    <script src="{% static 'adminpanel/bower_components/jquery/jquery.min.js' %}"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="{% static 'adminpanel/img/favicon.ico' %}">
  <style>
        @font-face {
        font-family: "Iranian Sans";
        src: url({% static 'adminpanel/fonts/iraniansans.ttf' %});
        }
        body{
        font-family: "Iranian Sans";
        }
        h2, h5, a{
        font-family: "Iranian Sans";
        }
    </style>
</head>

<body>

    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">

            <a style="font-family: 'Iranian Sans'" class="navbar-brand" href="index.html">بات گرام</a>

            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default"> سفارشات</button>
                <button type="button" class="btn btn-default"><a href="comments.html"> نظرات</a></button>
                <button type="button" class="btn btn-primary"><a href="category.html"> دسته بندی ها</a></button>
                <button type="button" class="btn btn-default"><a href="enteghadat.html"> انتقادات پیشنهادات</a></button>
                <button type="button" class="btn btn-default"> <a href="showing.html">مشاهده کردن</a></button>
                <button type="button" class="btn btn-default"><a href="adding.html">افزودن</a></button>
                <button type="button" class="btn btn-default"> صفحه اصلی</button>
            </div>

        </div>
    </div>

<div class="container-fluid">
<div class="row">
<div class="box col-md-offset-2 col-md-10 col-sm-3 ">
<div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2 style="float:right">کدهای تخفیف</h2>

    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
        <thead>
        <tr>
            {% for code in all_codes %}
            <th style="text-align: right">تغییرات</th>
            <th style="text-align: right">کد تخفیف</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="center pull-right">

            <a class="btn btn-danger" href="/admin-panel/del_code?code_id={{code.code_id}}">

                <i class="glyphicon glyphicon-trash icon-white"></i>
                حذف
            </a>
                <a class="btn btn-info" >
                <i class="glyphicon glyphicon-edit icon-white"></i>
                    تغییر
            </a>

        </td>
            <td style="text-align: right"> {{code.code_char}} </td>
        </tr>
            {% endfor %}

        </tbody>
    </table>

    </div>

</div>
</div>
</div>
</div>




<hr>



<footer class="row">
        <p style="text-align: center" class="col-md-offset-3 col-sm-offset-3col-md-6 col-sm-6 col-xs-12 copyright">&copy; <a href="#" target="_blank">طراحی شده توسط تیم بات گرام</a></p>
    </footer>


</body>
</html>
