{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        EasyBot
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!-- The styles -->
    <link id="bs-css" href="{% static 'adminpanel/css/bootstrap-cerulean.min.css' %}" rel="stylesheet">

    <link href="{% static 'adminpanel/css/charisma-app.css' %}" rel="stylesheet">
    <link href="{% static 'adminpanel/bower_components/fullcalendar/dist/fullcalendar.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/bower_components/fullcalendar/dist/fullcalendar.print.css' %}" rel='stylesheet' media='print'>
    <link href="{% static 'adminpanel/bower_components/chosen/chosen.min.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/bower_components/colorbox/example3/colorbox.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/bower_components/responsive-tables/responsive-tables.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/jquery.noty.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/noty_theme_default.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/elfinder.min.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/elfinder.theme.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/jquery.iphone.toggle.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/uploadify.css' %}" rel='stylesheet'>
    <link href="{% static 'adminpanel/css/animate.min.css' %}" rel="stylesheet" >

    <!-- jQuery -->
    <script src="{% static 'adminpanel/bower_components/jquery/jquery.min.js' %}"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="{% static 'adminpanel/img/favicon.ico' %}">
  <style>
        @font-face {
        font-family: "Iranian Sans";
        src: url({% static 'adminpanel/fonts/iraniansans.ttf' %});
        }
        body{
        font-family: "Iranian Sans";
        }
        h2, h5{
        font-family: "Iranian Sans";
        }
    </style>
</head>

<body>
{% include "header.html" %}


    <!-- topbar ends -->


<div class="ch-container">
    <div class="row">




        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->


<div>
    <ul class="breadcrumb col-md-offset-4 col-md-10 " style="text-align: right">
        <li>
            <a href="#">ویرایش</a>

        </li>
        <li>
            <a href="#">صفحه اصلی</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
    <div class="container-fluid">

    <div class="box  col-md-offset-7 col-md-7" >
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2 style="float: right"><i class="glyphicon glyphicon-star-empty"></i> ویرایش</h2>


            </div>

            <div class="box-content">

                <form role="form" action="/admin-panel/showing" id="edit" method="post" name="edit_form">


                    <div class="form-group " >
                        <label for="categoryname" style="text-align: right ; float: right">دسته بندی</label>
                        <select style="margin-top: 5%;text-align: right;direction: rtl ; "  class="selectpicker " data-width="100%" title="دسته بندی مورد نظر را انتخاب کنید" data-live-search="true" name="category_name" >
                            {% for cat in cat_data %}
                            <option value={{ cat.0 }} style="text-align: right">{{ cat.1 }}</option>
                            {% endfor %}
                        </select>
{{ p_data }}
                        <div class="form-group" style="text-align: right">
                            <label for="num_form" class="col-2 col-form-label" style="margin-top: 5%;text-align: right;direction: rtl ; " >تعداد</label>

                            <input class="form-control" type="text"  id="num_form" name="product_number" value={{ p_data.Number }}>
                     </div>

                        </div>
                    <div class="form-group" style="text-align: right">
                        <label for="name_form">نام محصول</label>
                        <input style="text-align: right" type="text" class="form-control" id="name_form" name="product_name" value={{ p_data.Name }} >
                    </div>

                    <div class="form-group" style="text-align: right">
                        <label for="detail_form">توضیحات</label>
                        <input style="text-align: right" type="text" class="form-control" id="detail_form" name="product_text" value={{ p_data.Text }}>
                    </div>
                    <div class="form-group" style="text-align: right">
                        <label for="price_form">قیمت</label>
                        <input style="text-align: right" type="text" class="form-control" id="price_form" name="product_price" value={{ p_data.Price }}>
                    </div>
                    <div class="form-group" style="margin-bottom: 3%;margin-top: 3%" >
                        <label style="text-align: right ; float:right" for="pic_form">عکس محصول</label>
                        <input type="file" id="pic_form" name="product_image" value= {{ p_data.Image }}>

                    </div>



                    <button style="margin-left: 90% ; width: 10% ; font-size: medium" type="submit" class="btn btn-primary btn-round">تایید</button>

                </form>

            </div>
        </div>
    </div>
    </div>
        </div>


</div><!--/row-->



    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    <!-- Ad, you can remove it -->
    <div class="row">
        <div class="col-md-9 col-lg-9 col-xs-9 hidden-xs">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Charisma Demo 2 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-5108790028230107"
                 data-ad-slot="3193373905"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>


            <!--End mc_embed_signup-->
        </div>

    </div>
    <!-- Ad ends -->

    <hr>


<footer class="row">
        <p style="text-align: center" class="col-md-offset-3 col-sm-offset-3col-md-6 col-sm-6 col-xs-12 copyright">&copy; <a href="#" target="_blank">طراحی شده توسط تیم بات گرام</a></p>
    </footer>


<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>


<script src="{% static 'adminpanel/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>


<!-- calender plugin -->
<script src="{% static 'adminpanel/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'adminpanel/bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<!-- data table plugin -->
<script src="{% static 'adminpanel/js/jquery.dataTables.min.js' %}"></script>

<!-- select or dropdown enhancer -->
<script src="{% static 'adminpanel/bower_components/chosen/chosen.jquery.min.js' %}"></script>
<!-- plugin for gallery image view -->
<script src="{% static 'adminpanel/bower_components/colorbox/jquery.colorbox-min.js' %}"></script>
<!-- notification plugin -->
<script src="{% static 'adminpanel/js/jquery.noty.js' %}"></script>
<!-- library for making tables responsive -->
<script src="{% static 'adminpanel/bower_components/responsive-tables/responsive-tables.js'%}"></script>
<!-- tour plugin -->
<script src="{% static 'adminpanel/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js' %}"></script>
<!-- star rating plugin -->
<script src="{% static 'adminpanel/js/jquery.raty.min.js' %}"></script>
<!-- for iOS style toggle switch -->
<script src="{% static 'adminpanel/js/jquery.iphone.toggle.js' %}"></script>
<!-- autogrowing textarea plugin -->
<script src="{% static 'adminpanel/js/jquery.autogrow-textarea.js' %}"></script>
<!-- multiple file upload plugin -->
<script src="{% static 'adminpanel/js/jquery.uploadify-3.1.min.js' %}"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="{% static 'adminpanel/js/jquery.history.js' %}"></script>
<!-- application script for Charisma demo -->
<script src="{% static 'adminpanel/js/charisma.js' %}"></script>


</body>
</html>
