{% load static %}

<html lang="en">
<body>
{% include "header.html" %}
<div class="container">
    <div class="row">
      <div class="col-md-3">
			{% include "sidebar.html" %}
		</div>
        <div class="col-md-offset-0 col-md-9 ">

            <h2 style="float:right"> محصولات</i>
            </h2>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                <thead>
                <tr>
                    <th style="text-align: right"> تغییرات</th>
                    <th style="text-align: right"> عکس محصول</th>
                    <th style="text-align: right"> رفتن به محصول</th>
                    <th style="text-align: right"> قیمت</th>
                    <th style="text-align: right"> توضیحات</th>
                    <th style="text-align: right">نام محصول</th>
                </tr>
                </thead>
                <tbody>
                <tr>


                    {% for data in product_data %}



                        <td style="    width: 16%;" class="center">
                            <!-- showingmodal -->
                            <div class="modal fade " id="showingmodal{{ data.0 }}" tabindex="0" role="dialog"
                                 aria-labelledby="showingmodal{{ data.0 }}" aria-hidden="true"
                                 style="padding-top: 9% ; ">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="width: 115%">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"
                                                style="text-align:right ;  ">نمایش محصول</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-10" style="width: 40%;">
                                                        <table class="table table-strpied table-bordered  responsive">
                                                            <thead>
                                                            <tr>
                                                                <th style="text-align: right"> توضیحات</th>
                                                                <th style="text-align: right"> برو به محصول</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>


                                                            <tr>
                                                                <td>{{ data.4 }}</td>
                                                                <td>{{ data.3 }}</td>
                                                            </tr>


                                                            </tbody>


                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <a href="/admin-panel/edit?p_id={{ data.0 }}">
                                    <button type="button" class="btn btn-info btn-sm"
                                            style="float: right;border-radius: 10%;margin-right: 5%;font-size: x-small">

                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        تغییر

                                    </button>
                                </a>
                                <a href="/admin-panel/delete_product?p_id={{ data.0 }}">
                                    <button type="button" class="btn btn-danger btn-sm"
                                            style="float: right;border-radius: 10%;margin-right: 5%;font-size: x-small">

                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                        حذف

                                    </button>
                                </a>
                            </div>

                        </td>
                        <td>
                            <!-- showingmodal -->
                            <div class="modal fade " id="showingmodal_image{{ data.0 }}" tabindex="0"
                                 role="dialog" aria-labelledby="showingmodal_image{{ data.0 }}"
                                 aria-hidden="true" style="padding-top: 9% ; ">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"
                                                style="text-align:right ;  ">نمایش محصول</h5>
                                            <button type="button" class="close pull-left" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                                <div class="row">

                                                    <img src="../{{ data.4 }}"
                                                         class="img img-thumbnail img-responsive"
                                                         style="">
                                                </div>
                                            </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">بستن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /showingmodal -->
                            <button type="button" class="btn btn-info btn-sm"
                                    style="float: right;border-radius: 10%;margin-right: 5%;font-size: x-small"
                                    data-toggle="modal" data-target="#showingmodal_image{{ data.0 }}">

                                <i class="glyphicon glyphicon-trash icon-white"></i>
                                تصویر

                            </button>
                        </td>
                        <td style="    width: 16%;" class="center">
                            <!-- showingmodal -->
                            <div class="row">

                                <a href="/admin-panel/product?p_id={{ data.0 }}">
                                    <button type="button" class="btn btn-info btn-sm"
                                            style="float: right;border-radius: 10%;margin-right: 5%;font-size: x-small">

                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        نمایش محصول

                                    </button>
                                </a>
                            </div>

                        </td>
                        <td style="text-align: right;direction: rtl;font-family: 'B Yekan'">{{ data.5 }}</td>
                        <td style="text-align: right;direction: rtl"><button type="button" class="btn btn-success btn-sm"
                                        style="float: right;border-radius: 10%;margin-right: 5%;font-size: x-small"
                                        data-toggle="modal" data-target="#showingmodal{{ data.0 }}">

                                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>

                                    نمایش

                                </button></td>
                        <td style="text-align: right;direction: rtl">{{ data.2 }}</td>


                        </tr>

                    {% endfor %}


                </tbody>

            </table>

        </div>


    </div>
</div>


<hr>


{% include "footer.html" %}

</div>
</body>
</html>
