{% load static %}

<html lang="en">
<body>
{% include "header.html" %}
<div class="container">
    <div class="col-md-3">
			{% include "sidebar.html" %}
		</div>
    <div class="card col-md-offset-1 col-md-8">
        <h2 style="text-align: right;"> نظرسنجی</h2>
        <form role="form" action="/admin-panel/survey" id="add_survey" method="post"
              name="add_survey_form">
            <fieldset>

                <div class="input_fields_wrap">
                    <div class="form-group">
                        <h6 style="text-align: right;font-family: 'Iranian Sans'">موضوع نظرسنجی </h6>
                        <input class="form-control"
                               style="font-family: 'Iranian Sans';border-radius: 10px;text-align: right"
                               type="text" name="survey_title"
                               placeholder="موضوع نظرسنجی">
                    </div>
                    <div class="form-group">
                        <h6 style="text-align: right;font-family: 'Iranian Sans'">سوال</h6>
                        <div class="col-md-10 pull-right">
                            <input class="form-control"
                                   style="font-family: 'Iranian Sans';border-radius: 10px;text-align: right"
                                   type="text" name="questions[]" placeholder="سوال">
                        </div>
                        <div style="padding-right: 0;padding-top: 7px;" class="col-md-2">
                            <a style="font-family: 'Iranian Sans';text-decoration: none;float: right;کtext-align:right;color: black;font-size: smaller;padding-top: 2%"
                               href="#" class="add_field_button">
                                <i style="font-size: 200%;" class="glyphicon glyphicon-plus"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </fieldset>
            <button style="margin-left: 70% ; width: 30% ; font-size: medium;margin-top: 5%"
                    type="submit"
                    class="btn btn-primary btn-round">تایید
            </button>
        </form>
    </div>
</div>
{% include "footer.html" %}
<script>
    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div style="font-family: Iranian Sans;padding-top: 12%" ><input class="form-control" style="font-family: Iranian Sans;border-radius: 10px; text-align: right" type="text" name="questions[]" placeholder="سوال"/><a style="text-decoration: none;color: black;font-size: x-small;float: right;padding-top: 2%" href="#" class="remove_field">حذف سوال</a></div>'); //add input box
                ;
            }
            else {
                alert("بیشترین تعداد سوال ساخته شد.");
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })
    });
</script>
</body>
</html>

